{% extends 'r_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class = "d-flex justify-content-around" >
  <div style = "width:50%">
  </div>
  <div class= "bg-secondary" style = "height:150px; width:50%">
    <p>Username: {{u_name}}<br>E-mail: {{email}}</p>
  </div>
</div>
<br>
<div class="d-flex justify-content-around">
  <div style = "text-align:left; width:50%">
    <form method = "post" action = "">{% csrf_token %}
      {{form | crispy}}
      <button class = "btn btn-primary">Submit</button>
    </form>
  </div>
  <div style = "width:50%; align-self:flex-end;">
    <a href = "{% url 'user_history' request.user %}"><button class = "btn btn-primary" >History</button></a>
  </div>
</div>
{% endblock %}
